* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222258;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #2d2d97;
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}

nav ul li a:hover {
    color:antiquewhite;
    font-size: 1.01rem;
}

.left {
    font-size: 1.6rem;
}
nav div .image-first{
    width: 70px;
    margin: 8px 9px -2px -499px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0;
}

.leftSection div {
    font-size: 2rem;

}
.leftSection .button{
    padding: 63px;
}
.leftSection .btn1{
    padding: 9px;
    background-color: #5a77a7;
    color:antiquewhite;
    border: 2px solid #120707;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}
.leftSection .btn2{
    padding: 9px;
    background-color: #5a77a7;
    color:antiquewhite;
    border: 2px solid #120707;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    float: left;
}
.yellow {
    color: rgb(182, 182, 41);
}

#element {
    color: rgb(182, 182, 41);
    font-size: 2rem;

}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}
.secondSection h1{
    font-size: 1.9rem;
}

.main .hr {
    border: 0;
    background-color: #232397;
    height: 1.3px;
    margin: 60px 68px;
}

.text-gray {
    color: gray;
}

.secondSection .box {
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    width: 1286px;
    height: 0.1px;
    background-color: white;
    margin: 1px 9px;
}

.image-top {
    width: 31px;
    position: relative;
    top: -34px;
    left: -10px;
}

.vertical-title {
   position: relative;
    top: -18px;
    width: 206px;
}

.vertical-desc {
    position: relative;
    top: 7px;
    color: rgb(255, 242, 242);
    width: 151px;
    font-size: 10px
}
.img-right {
    width: 235px;
    margin: 16px -107px;
}
footer{
    background-color: #332a68;
    height: 205px;
    text-align: center;
    table-layout: fixed;
}
.footer{
    display: flex;
    margin: 74px -2px;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer >div{
    width: 278px;
    margin: 46px;
}
.footerright{
    text-align: center;
    color:gray;
    ;
}
.footer-second ul li a {
    color:antiquewhite;
    font-size: 1.01rem;
}
.footer-third ul li a {
    color:antiquewhite;
    font-size: 1.01rem;
}

.footer-second ul li a:hover{
    color:antiquewhite;
    font-size: 1.01rem;
    cursor: pointer;
}
.footer-third ul li:hover{
    color: antiquewhite;
    font-size: 1.01rem;
    cursor: pointer;
}
.footer-fourth address:hover{
    color: rgb(233, 232, 232);
    font-size: 0.98rem;
    cursor: pointer;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }